* {
    padding: 0px;
        margin: 0%;
        font-size: large;
 
        color: aliceblue;
        font-family: 'Courier New', Courier, monospace;
 

}

header {
    background-image: url(https://cdn.codechef.com/download/Contest+images/ANTEST/landing+page.jpg);
    padding-top: 20px;
    padding-bottom: 20px;
}

.heading {
    background-color: transparent;
    text-align: center;
    padding: 10px;
    color: white;
    padding-bottom: 150px;
    font-size: 80px;
    font-family: Times;
}

.quote {
    color: white;
    text-align: right;
    font-family: cursive;
    font-size: 60px;
    padding: 5px 20px 5px 0;
}

.headingPara {
    color: white;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding-top: 30px;
 
    margin-left: 30%;
    padding-right: 20px;
}
  main{
        background-color: #071A28;
 
        text-align: center;
 }
 .types{
padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
 }
 .feature{
    border-collapse: collapse;
        margin: auto;
        margin-bottom: 60px;
        width: 70%;
    
 }
  th {
      background-color: #f70303;
  }
 th,
 td {
     width: 150px;
     padding: 10px;
     text-align: left;
     border: 1px solid #f70303;
 }
 td{
text-align: center;
 }
 ul {
     padding-left: 30px;
     background-color: transparent;
 }
 .booknow{
    padding-bottom: 20px;
 }
footer {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #4F2D18;
}
#footpara {
    color: white;
    background-color: transparent;
    padding-right: 50px;
}